body{
    background: url('../images/background3.jpg') 50% 50%/cover no-repeat fixed;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    margin-left: 20%;
    margin-top: 3%;
    width: 60%;
    overflow: hidden;
    border: 1px solid #C5C5C5;
    background: #fff;
}

.container .wrapper{
    /* padding-right: 400px; */
}

.wrapper{
    border: none!important;
}

.wrapper h1{
    padding: 15px 0;
}

.wrapper .content{
    display: flex;
    justify-content: space-between;
}

.items{
    display: flex;
    flex-direction: column;
    box-shadow: 0 -5px 43px -10px #ccc;
    width: 50%;
}

.item{
    display: block;
    border-bottom: 1px solid #E5E5E5;
    padding: 20px 0;
}

.item .col{
    float: left;
}

.item .col1{
    width: 5.5rem;
    text-align: center;
    padding: 32px 0;
}

.remove{
    display: inline-block;
    text-indent: -999999px;
    background: url('../images/delete_img.png') 0 0 no-repeat;
    width: 14px;
    height: 13px;
}

.item .col3{
    padding: 1.5rem 0 0 1rem;
    width: 9rem;
    text-align: center;
}

.item .col3 .title{
    padding: 0 0 5px 0;
}

.item .col3 .prc{
    font-weight: bold;
}

.item .col4{
    width: 11rem;
    margin-top: -4px;
    padding: 0 15px;
    float: right;
}

.item .col4 .q{
    padding-bottom: 5px;
}

.minus{
    display: inline-block;
    background: url('../images/plus_minus.png') 0 0 no-repeat;
    width: 36px;
    height: 35px;
    text-indent: -9999px;
    /*position: relative;*/
    z-index: 2;
    vertical-align: middle;
}

.item .col4 .inputbox{
    background: url('../images/q_inp.png') 0 0 repeat-x;
    border: none;
    box-shadow: none;
    padding: 0;
    width: 40px;
    text-align: center;
    border-radius: 0;
    /*position: relative;*/
    z-index: 1;
    margin: 0 -4px;
    height: 34px;
    border-bottom: 1px solid #E3E3E3;
}

.plus{
    display: inline-block;
    background: url('../images/plus_minus.png') -36px 0 no-repeat;
    width: 36px;
    height: 35px;
    text-indent: -9999px;
    /*position: relative;*/
    z-index: 2;
    vertical-align: middle;
}

.item .col4 .price{
    color: #7C7C7C;
    font-size: 14px;
}

.item .col4 .total{
    color: #7C7C7C;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
}

.right-cart{
    float: left;
    /* margin-left: 400px; */
    width: 50%;
    padding: 0 20px 0 0;
}

.right-cart .confirm{
    text-align: center;
}

.right-cart .confirm .total{
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    padding-bottom: 15px;
}

.right-cart .confirm .loyalty-score{
    color: rgb(83, 252, 41);
    font-size: 18px;
}

.right-cart .confirm .date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5% 0 5% 10%;
}

.payment-method{
    clear: both;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 20%;
}

.payment-method .heading{
    border: none;
    background: none;
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 16px;
}

.payment-method .content{
    overflow: hidden;
    border: 0 solid #EEEEEE;
    display: flex;
    flex-direction: column;
}

.right-cart .confirm .payment_btn{
    /*position: relative;*/
}

.right-cart .confirm .payment_btn .button{
    padding: 0 45px;
    cursor: pointer;
    background: rgb(83, 252, 41);
    height: 35px;
    line-height: 33px;
    width: auto;
    padding: 0 20px;
    color: #F4F4F4;
    font: bold 14px/35px 'Ubuntu',"Myriad Pro",sans-serif;
    border: 1px solid #DFDDDD;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 #500;
    transition: .3s ease;
}

.right-cart .confirm .payment_btn .button:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),  0 10px 10px rgba(0,0,0,0.22);
    color: #222222;
}